@import'./reset';
@import'./variables';
@import'./mixins';

.navbar{
    background-color: navy;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    // position: fixed;

    img{
    width: 60px;
    height: 50px;
    border-radius:20px;
    margin-left: 20px;
    margin-right: 40px;
  }

  i{
    font-weight: bolder;
    font-size: larger;
    font-family: initial;
    color: rgb(122, 178, 237);
    margin-left: 22px;
    
  }

  button{
    color: aliceblue;
    border-color: rgb(122, 178, 237);
  }

   .navbar-nav {
    font-size: 25px;
    margin-left: 50px;
  }
}

.banner{
    position: relative;
    text-align: center;
    color: aliceblue;

    img{
        width: 100%;
        height: 90vh;
    }

    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    

    h1, h2, h3{
        font-size: 70px;
        line-height: 6rem;
    }

  .links{
    display: flex;

    .sch, .parti{
      // display: flex;
      // justify-content: space-between;
      // justify-content: center;
      width: 40%;
      margin-left: 40px;
      font-size: 2em;
      font-weight: bolder;
      padding: 10px;
      color: #fff;
      background: aliceblue;
      border: 2px solid rgb(122, 178, 237);
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;

      .sch .parti:hover {
        background: rgb(122, 178, 237);
    }

    a{
      text-decoration: none;
    }


  }
  }

    i{
      font-weight: bold;
      font-size: larger;
      color: #0f9ce8;
    }
  
    p{
        text-align: center;
        font-family: Tahoma, Arial, sans-serif;
        color: blue;
        margin: 50px 0;
      }
      
      .box {
        width: 40%;
        margin: 20px auto;
        // background: rgba(255,255,255,0.2);
        padding: 35px;
        // border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
      }
      
      .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        background: blue;
        border: 2px solid rgb(122, 178, 237);
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
      .button:hover {
        background: rgb(122, 178, 237);
      }
      
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      }
      
      .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
      }

      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }

      .popup .close:hover {
        color: blue;
      }

      .popup .content {
        max-height: 50%;
        overflow: auto;
        margin-top: 20px;
        color: rgb(122, 178, 237);
      } 
    }    
}    


.section1{
    overflow: hidden;
    background-color: aliceblue;

    img{
        margin-top: 20px;
    }
}


 

  
  .container{
    .timer{
      @include flexCenter;
         flex-direction: column;
         
         h1 {
             // font-size: $h1-font-size;
             color:blue
             
         }
         
         ul {
             margin-top: 15px;
             list-style: none;
             @include flexCenter;
             column-gap: 50px;
             
             li {
                 text-align: center;
                 color: aliceblue;
                 h1 {
                     // font-size: $h1-font-size;
                     color:red;
                 }
                 p {
                     font-size: 14px;
                     color:blue
                 }
             }
         }
 }

 
    details{
       padding: 20px;
       margin-left: 20px;
    } 

    // .btn{
    //   display: none;
    //   height: 0;
    //   overflow: hidden;
    //   transition: height 350ms ease-in-out;
    // }

 
    
    #registerForm, .form-control{
    margin: 10px;
    background: red;
    font:normal 14px/20px 'PT Sans', sans-serif;
    color:#000;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;


    .instruction {
      background-color: rgb(241, 241, 241);
      border-left: 5px solid #054283;
      padding: 10px;
      margin-top: 10px;

      p{
       font-size: 16px;
       font-weight: 500;
       padding: 10px;
    }

    .instruct{
       font-size: 22px;
       font-weight: 500;
       margin-top: 10px;
       padding: 10px;
    }
   }
   
   ul {
       list-style: none;
   }
 
   label{
       display: block;
      //  padding:  0 0 5px;
      margin: 10px;
       font-size: 18px;
       color: #4180CB;
   }

   .inpt {
       border: 1px solid #777;
       font-size: 14px;
       color: #000;
       line-height: 45px;
       width: 320px;
        width: 98%;
        margin: 15px;
   }

   select {
    border: 1px solid #777;
    font-size: 14px;
    color: #000;
    line-height: 45px;
    height: 40px;
    width: 320px;
     width: 98%;
     margin: 15px;
}

   .form-control li {
       margin-bottom: 15px;
   }

   button {
       background: #343434;
       color: #fff;
       font-size: 16px;
       line-height: 47px;
       border: none;
       padding: 0 30px;
       cursor: pointer;
       margin-right: 10px;
   }

    }
}

// .btn.is-visible{
//   display: none;
//   height: auto;
// }

.d_null{
  display: none;
}

.schReg, .form-control{

  margin: 10px;
    background: red;
    font:normal 14px/20px 'PT Sans', sans-serif;
    color:#000;
    width: 50%;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;


    .instruction {
      background-color: rgb(241, 241, 241);
      border-left: 5px solid #054283;
      padding: 10px;
      margin-top: 10px;

      p{
       font-size: 16px;
       font-weight: 500;
       padding: 10px;
    }

    .instruct{
       font-size: 22px;
       font-weight: 500;
       margin-top: 10px;
       padding: 10px;
    }
   }
   
   ul {
       list-style: none;
   }
 
   label{
       display: block;
      //  padding:  0 0 5px;
      margin: 10px;
       font-size: 18px;
       color: #4180CB;
   }

   .inpt {
       border: 1px solid #777;
       font-size: 14px;
       color: #000;
       line-height: 45px;
       width: 320px;
        width: 98%;
        margin: 15px;
   }

   select {
    border: 1px solid #777;
    font-size: 14px;
    color: #000;
    line-height: 45px;
    height: 40px;
    width: 320px;
     width: 98%;
     margin: 15px;
}

   .form-control li {
       margin-bottom: 15px;
   }

   button {
       background: #343434;
       color: #fff;
       font-size: 16px;
       line-height: 47px;
       border: none;
       padding: 0 30px;
       cursor: pointer;
       margin-right: 10px;
   }

    }



footer{
    // height: 45vh;
    // align-items: center;
    background: linear-gradient(105deg, blue, navy);
    // padding-top: 80px;
    // padding-bottom: 40px;
  
    // p {
    //     text-align: center;
    //   margin: 12px 0;
    //   font-size: 14px;
    //   color: white;
    // }

    .about{
    // margin: -20px;
      h2{
          text-decoration: underline;
          color: #0f9ce8;
          margin-bottom: 25px;
          
      }

      p{
        font-size: 23px;
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    }

    .links{
      // margin-left: -90px;
        ul {list-style-type: none;}
         h2{
            text-decoration: underline;
            color: #0f9ce8;
            margin-bottom: 25px;  
        }

        li a{
            text-decoration: none;
            font-size: 23px;
            color: white;
            transition: color .2s;
          &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
      }  
      
      .location{
        font-size: 23px;
        h2{
          text-decoration: underline;
          color: #0f9ce8;
          margin-bottom: 25px;  
      }
        i{font-size: 18px;}
        color: #fff;
      }

      .copyright p{
            text-align: center;
          margin: 12px 0;
          font-size: 20px;
          color: white;
        }
    }
  
#quiz{
  // display: block;
  // justify-content: center;
    padding-top: 10px;  
    // border: 1px solid black;
    text-align: center;
    background-image: url('../Img/blue-question-mark-background-with-text-space-quiz-symbol-vector.jpg');
    height: 100vh;
    // width: 50px;

    h1, p{
      color: navy;
      font-weight: bolder;
      font-style: italic;
      // margin-bottom: 30px;
    }

    .instruction {
     
     .instruct{
      font-size: 25px;
      font-weight: 500;
      // background-color: rgb(241, 241, 241);
      color: red;
      
     }
    
   }
  
  .question-area{
    margin-top: 30px;
    border: 3px solid #054283;
    box-shadow: -5px -5px 10px #054283;
    width: 40%;
    margin: 5px auto 5px auto;
    background-color: white;
    word-spacing: 0.2em;
  }

  .clock{
    display: flex;
    justify-content: center;
  }

  .opt{
    // background-color: red;
    display: block;
    text-align: left;
    margin: 20px;
    width: 100%;
  }

  .left-align{
    text-align: left;
    width: 80%;
    margin: 2px auto 2px auto;
    padding-top:20px;
    font-size: 20px;
  }
  h1 {font-size: 40px;}

  p{font-size: 18px;padding-top: 100px;}

  .sub{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    width: 100px;
    height:35px;
    font-size: 20px;
    color: black;
    margin-right: 200px;
    // background-color: red;

  // .next:hover 	{background-color: rgb(0,0,180);}
  #timer 			{text-align: right;font-size: 18px;padding-right: 5px;}
}

}
